<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="#gs">Manage Gorilla Safaris</a></li>
            <li><a href="#t">Manage Tours</a></li>
            <li><a href="#ws">Manage Wildlife Safaris</a></li>
            <li><a href="#a">Manage Activities</a></li>
        </ul>
    </div>
    <div class="admin-content">
        <h1 class="admin-heading">About Us</h1>
        <div class="content">
            <h2 class="page-title">Add About Us</h2>
            <form action="/add-aboutUs" method="POST" class="add-post">
                <div class="input-box">
                    <label for="responsibleTravelPolicy">Responsible Travel Policy</label>
                    <textarea name="responsibleTravelPolicy" cols="50" rows="10" class="text-input"></textarea>
                </div>

                <div class="input-box">
                    <label for="helpAndFAQ">Help & FAQ</label>
                    <textarea name="helpAndFAQ" cols="50" rows="10" class="text-input"></textarea>
                </div>

                <div class="input-box">
                    <label for="whyTravelWonders">Why Travel Wonders</label>
                    <textarea name="whyTravelWonders" cols="50" rows="10" class="text-input"></textarea>
                </div>

                <div class="input-box">
                    <label for="contactUs">Contact Us</label>
                    <textarea name="contactUs" cols="50" rows="10" class="text-input"></textarea>
                </div>

                <div class="input-box">
                    <label for="privacyPolicy">Privacy Policy</label>
                    <textarea name="privacyPolicy" cols="50" rows="10" class="text-input"></textarea>
                </div>

                <div class="input-box">
                    <label for="newNormsAndSafariGuides">New Norms and Safari Guides</label>
                    <textarea name="newNormsAndSafariGuides" cols="50" rows="10" class="text-input"></textarea>
                </div>
                <div>
                    <input type="submit" class="btn" value="Add About Us">
                </div>
            </form>
        </div>
    </div>
</div>
