<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="#gs">Manage Gorilla Safaris</a></li>
            <li><a href="#t">Manage Tours</a></li>
            <li><a href="#ws">Manage Wildlife Safaris</a></li>
            <li><a href="#a">Manage Activities</a></li>
        </ul>
    </div>
    <div class="admin-content">
        <h1 class="admin-heading">Tours</h1>
        <div class="content">
            <h2 class="page-title">Add Tour</h2>
            <form action="/add-tour" method="POST" enctype="multipart/form-data" class="add-post">
                
                <div class="input-box">
                    <label for="country">Country</label>
                    <select name="country" class="select-input">
                            <option value="Uganda">Uganda</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Tanzania">Tanzania</option>
                            <option value="Rwanda">Rwanda</option>
                            <option value="Congo">Congo</option>
                    </select>
                </div>

                <div class="input-box">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="text-input">
                </div>

                <div class="input-box">
                    <label for="overview">Tour Overview</label>
                    <textarea name="overview" id="mytextarea" cols="50" rows="10" class="text-input"></textarea>
                </div>

                <div class="input-box">
                    <label for="days">Number of days</label>
                    <input name="days" id="days" class="text-input">
                </div>
                
                <div class="input-box">
                    <label for="price">Price</label>
                    <input name="price"  class="text-input">
                </div>

                <div class="input-box">
                    <label for="disclaimer">Price Disclaimer</label>
                    <textarea name="disclaimer" id="mytextarea" cols="50" rows="10" class="text-input"></textarea>
                </div>

                <div class="input-box">
                    <label for="details">Details of cost</label>
                    <textarea name="details" id="mytextarea" cols="50" rows="10" class="text-input"></textarea>
                </div>

                <div class="input-box">
                    <label for="when">When best to visit</label>
                    <textarea name="when" id="mytextarea" cols="50" rows="10" class="text-input"></textarea>
                </div>

                <div class="input-box">
                    <label for="accommodation">Accommodation</label>
                    <textarea name="accommodation" id="mytextarea" cols="50" rows="10" class="text-input"></textarea>
                </div>
                
                <div class="input-box">
                    <label for="preview">Preview</label>
                    <textarea name="preview" id="mytextarea" cols="50" rows="10" class="text-input"></textarea>
                </div>

                <div class="input-box">
                    <label for="itinerary">Itinerary</label>
                    <textarea name="itinerary" id="mytextarea" cols="50" rows="10" class="text-input"></textarea>
                </div>
                
                <div class="input-box">
                    <label for="header-image">Header Image</label>
                    <input type="file" name="header-image" id="img-input" >
                </div>

                <div class="input-box">
                    <label for="image">Image</label>
                    <input type="file" name="image" id="img-input" >
                </div>
              
                <div>
                    <input type="submit" class="btn" value="Add Tour">
                </div>

            </form>
        </div>
    </div>
</div>
