<footer class="footer">
    <section class="footer__top">
        <div class="footer-about">
            <h1>Zam Zam Tours</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor minima asperiores consequuntur doloremque blanditiis mollitia ex eaque voluptas, sit est nisi illo! Cumque eligendi dicta quo autem exercitationem? Omnis autem, assumenda pariatur beatae eveniet nemo.
            </p>
        </div>
        <div class="faqs">
            <h1>FAQs</h1>
            <ul>
                <% faqs.forEach(faq => { %>
                    <li><a href="/content-faq/<%= faq._id %>"><%= faq.qstn %></a></li>
                <% }); %>
                <% if (faqs.length === 0) { %>
                    <p>No Frequently Asked Questions.</p>
                <% } %>
            </ul>
        </div>
        <div class="footer__contacts">
            <div class="icons">
                <i class="fas fa-house"></i>
                <p class="home__label">Wandegeya kampala, Uganda</p>
            </div>
            <div class="icons">
                <i class="fas fa-phone"></i>
                <p class="phone__label"><a href="tel:+256701041637">0701041637</a></p>
            </div>
            <div class="icons">
                <i class="fas fa-envelope"></i>
                <p class="mail__label"><a href="mailto:eriantumba31@gmail.com">eriantumba31@gmail.com</a></p>
            </div>
            
        </div>
    </section>
    <section class="footer__bottom">
        <div class="center">
            <div class="t-policy">
                <span><a href="/aboutus">Responsible Travel Policy</a></span>
            </div>
            <div class="p-policy">
                <span><a href="/aboutus">Privacy Policy</a></span>
            </div>
            <div class="smedia">
                <div class="button">
                    <div class="icons">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                </div>
                <div class="button">
                    <div class="icons">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
                <div class="button">
                    <div class="icons">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
                <div class="button">
                    <div class="icons">
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
           <p>&copy;2023, Travel Wonders Safaris. All rights Reserved. <br> Designed by Asizy </p> 
        </div>
    </section>
</footer>