<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content=' <%= locals.description %>'>
        <link rel="stylesheet" href="floating-wpp.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/floating-wpp.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="floating-wpp.js"></script>
        <script src="https://kit.fontawesome.com/92ebb82932.js" crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>
        <title><%= locals.title %></title>

        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

        <script>
        tinymce.init({
            selector: '#mytextarea',
            plugins: [
            'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
            'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
            'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
            ],
            toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
            'alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help',

                // enable title field in the Image dialog
                    image_title: true, 
                    // enable automatic uploads of images represented by blob or data URIs
                    automatic_uploads: true,
                    // add custom filepicker only to Image dialog
                    file_picker_types: 'image',
                    file_picker_callback: function(cb, value, meta) {
                        var input = document.createElement('input');
                        input.setAttribute('type', 'file');
                        input.setAttribute('accept', 'image/*');

                        input.onchange = function() {
                        var file = this.files[0];
                        var reader = new FileReader();
                        
                        reader.onload = function () {
                            var id = 'blobid' + (new Date()).getTime();
                            var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                            var base64 = reader.result.split(',')[1];
                            var blobInfo = blobCache.create(id, file, base64);
                            blobCache.add(blobInfo);

                            // call the callback and populate the Title field with the file name
                            cb(blobInfo.blobUri(), { title: file.name });
                        };
                        reader.readAsDataURL(file);
                        };
                        
                        input.click();
                    }

        });
        </script>
    </head>
    <body >

        <div class="admin-container">
    
            <%- include('../partials/header-admin.ejs') %>
    
            <div class="admin-main">
    
                <%- body %>
    
            </div>
        </div>
        
    </body>
</html>